@charset "utf-8";
/* CSS Document */

/**************************** Global ********************************/
html{ 
    height:100%;
    
}

body{
    background:black;
	  /*  overflow: hidden;*/
	width: 100%;
	height:100%;
	font-family: "Hiragino Sans GB","Microsoft Yahei", "黑体",sans-serif;
	font-size: 12px; 
	color: white;
	-webkit-text-size-adjust:100%;
}
a{text-decoration:none;color:white;}
a:hover{
	cursor: pointer;
	text-decoration:none;
}

/**************************** Global ********************************/
/*********** Page ************/
.stage{
	width: 100%;
	height: 100%;
	overflow: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-overflow-scrolling:touch;
}
.stage ul{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.stage .bg{
	z-index: -1;
	width: 100%;
	height: 100%;
	background: center no-repeat;
	background-size: cover;
	position: absolute;

	-webkit-filter: blur(6px); /* Chrome, Opera */
	-moz-filter: blur(6px);
	-ms-filter: blur(6px);
	filter: blur(6px);
}
.stage .content{
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
}
.stage .content h1{
	width: 100%;
	position: absolute;
	top: 30%;
	line-height: 1.5em;
	font-size: 30px;
	text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.stage .content h2{
	width: 80%;
	position: absolute;
	top: 38%;
	font-size: 16px;
	line-height: 1.5em;
	margin: 5%;
	padding: 5%;
	border-top: solid white 1px;
	border-bottom: solid white 1px;
	text-shadow: 0 1px 3px rgba(0,0,0,0.7);
}

/*********** Last ************/

.last .content .up{
	display: block;
	left: 50%;
	margin-left: -27px;
	text-align: center;
	position: absolute;
	bottom: 10px;
	width: 54px;
	height: 54px;
}
